body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 35px;
}
.color{
    color: brown;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.helf-width{
    width: 50%;
    padding: 20px;
    
}
.helf-width img{
    width: 90%;
}
.click-botton{
    text-decoration: none;
    background: coral;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-image: linear-gradient(coral,tomato);
  
}
.top-banner{
    background-image: url(images/bg-3.png);
    background-repeat: no-repeat;
    
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Experience-area{
     background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left;
}
#exp-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;

}
#full-stack-exp{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 76), rgb(0, 255, 255));
    border-image-slice: 1;
}
footer{
    text-align: center;
}
.foot p{
   color: white;
  text-shadow: 2px 2px 3px purple, 0 0 25px blue, 0 0 5px darkblue;
   
}
